.buttonContainer {
  /* border: 1px solid red; */
  width: fit-content;
  position: absolute;
  right: 6rem;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.buttonContainer button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.buttonContainer > div {
  display: flex;
  z-index: 10;
}

.buttonContainer img{
  width: 48px;
}

.buttonContainer button:hover {
 background: #EED6C4;
 transform: scale(1.2);
}
.buttonContainer button:active {
  background-color: #6B4F4F;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}