*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
      font-family: "Source Sans Pro";
     
}

body{
   background: rgb(213, 211, 226);
}

.mainContainer{
/* border:2px solid red ; */
width: 60vw;
margin: 10vh auto;
padding: 1rem;
background: white;
}